annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
async-timeout==5.0.1
betterproto==2.0.0b7
certifi==2026.5.20
click==8.4.1
defusedxml==0.7.1
fastapi==0.136.3
ffmpy==1.0.0
grpclib==0.4.9
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
hyperframe==6.1.0
idna==3.18
lxml==6.1.1
mashumaro==3.22
multidict==6.7.1
protobuf==7.35.0
protobuf3-to-dict==0.1.5
pydantic==2.13.4
pydantic_core==2.46.4
pyee==13.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-socks==2.8.1
PyYAML==6.0.3
six==1.17.0
starlette==1.3.0
TikTokLive==6.6.5
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.49.0
uvloop==0.22.1
watchfiles==1.2.0
websockets==16.0
websockets_proxy==0.1.3
